{% extends 'list/base.html' %}

{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
          <div class="post">
            <h1>Contact</h1>
            <hr>
            <p>Want to get in touch? Fill out the form below to send a message and we will get back to you as soon as possible!</p>
            <form role="form" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} <br> {{ field }}
                    </div>
                {% endfor %}
                <br>
                <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  <hr>
{% endblock %}
