{% extends 'list/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <div class="post">
          <h1>Message has been sent</h1>
          <hr>
          <p>Your message has been sent. We will try to get back to you as soon as possible.</p>
          <p>In the meantime you can enjoy yourself by viewing our delicious recipes on the <a href="">recipe</a> page</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
